.comment-vote-container {
  --button-border-radius: 10px;
  display: flex;
}
.comment-vote-container button {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: var(--main-bg);
  border-style: none;
}
.comment-vote-container button:nth-child(1) {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
}
.comment-vote-container button:nth-child(3) {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
}
.comment-vote-container button:nth-child(3) img {
  transform: translateY(-4px);
}
.comment-vote-container p {
  line-height: 2.5rem;
  text-align: center;
  padding: 0 0.75rem 0 0.75rem;
  font-weight: 500;
  color: var(--accent-blue);
  background-color: var(--main-bg);
}

.comment-vote-container button img:hover {
  filter: brightness(0) saturate(100%) invert(39%) sepia(10%) saturate(4078%)
    hue-rotate(202deg) brightness(87%) contrast(89%);
}
