* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font: "Rubik", sans-serif;
  --base-line-height: 24px;
  --comment-card-radius: 8px;
  --replies-indent: 1rem;
  /* --transition-timings: 0.25s ease-in; */
  --main-bg: #f5f6fa;
  --comment-card-bg: #ffff;
  --delete-modal-bg: #fff;
  --text-color-p: #67727e;
  --cancel-btn-bg: #67727e;
  --text-area-border: #e9ebf0;
  --delet-modal-title-color: #334253;
  --accent-blue: #5357b6;
  --accent-red: #ed6368;
  --accent-blue-pale: #c5c6ef;
  --accent-red-pale: #ffb8bb;
}
html {
  background-color: var(--main-bg);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 91vw;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font);
  line-height: var(--base-line-height);
  color: var(--text-color-p);
}
button {
  cursor: pointer;
}
.replies {
  position: relative;
  margin-left: var(--replies-indent);
}
.replies::before {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--replies-indent) * -1);
  height: 100%;
  width: 2px;
  background-color: var(--text-area-border);
}
.make-comment-container {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1400px) {
  main {
    width: 50vw;
  }
  .make-comment-container {
    margin-bottom: 1.5rem;
  }
  .replies {
    margin-left: 5.25rem;
  }
  .replies:before {
    left: -2.625rem;
  }
}
